@import '/styles/variables.scss';

.container {
  min-height: 100vh;

  .title {
    margin-top: 1rem;
    font-size: clamp(1.5rem, 6.5vw, 2.1rem);
    font-weight: 600;
    span {
      @include accentedButton;
      font-size: clamp(1.5rem, 6.5vw, 2.1rem) !important;
      padding: 0.35em 0.7em 0.5em;
      border-radius: 25px;
    }
  }

  .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7rem;
    height: 600px;

    .left_side {
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      .arrow {
        position: relative;
        width: 50px;
        height: 30px;
        align-self: center;
        .left_chevron {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
          margin-left: 2rem;
        }
      }
      .left_chevron,
      .right_chevron {
        cursor: pointer;
      }
      .main_img {
        position: relative;
        overflow: hidden;
        border-radius: 30px;
        width: 372px;
        height: 495px;
        transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .right_side {
      width: 35%;
      color: white;
      min-width: 600px;
      .card {
        background-color: $black_background;
        padding: 30px 50px;
        border-radius: 20px;
        height: max-content;
        max-height: 550px;

        .name {
          font-size: 30px;
        }
        .bio {
          margin-top: 2rem;
          font-size: 20px;
          line-height: 30px;
          p {
            text-align: left !important;
          }
        }
        .more_info {
          @include accentedButton;
          background-color: $grey_background !important;
          display: inline-block;
          margin-top: 2rem;
          cursor: pointer;
          font-size: 16px;
          transition: all 0.2s;

          .button {
            gap: 10px;
            display: flex;
            align-items: center;
            line-height: 20px;

            span {
              align-self: baseline;
            }
            .more_info_arrow {
              position: relative;
              width: 20px;
              height: 11px;
              padding-top: 20px;
            }
          }
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    min-height: calc(100vh - 60px);
    margin-top: 4rem;
    .title {
      //   font-size: 26px;
      height: fit-content;
      text-align: center;
      span {
        // font-size: 26px;
      }
    }
    .content {
      flex-direction: column;
      margin-top: 1rem;
      height: max-content;

      .left_side {
        width: 100%;

        .main_img {
          width: 142px;
          height: 190px;
          border-radius: 20px;
        }
      }
      .right_side {
        width: 100%;
        min-width: 100%;
        margin-top: 1rem;
        .card {
          padding: 20px 30px 30px;
          height: min-content;
          .name {
            font-size: 26px;
          }
          .bio {
            font-size: 18px;
            margin-top: 1rem;
            p {
              margin-top: 1rem;
            }
          }
          .more_info {
            margin-top: 1rem;
            // font-size: 16px;
            .button {
              .more_info_arrow {
                position: relative;
                width: 17px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .container {
    .title {
      //   font-size: 24px;
      line-height: 24px;
      span {
        // font-size: 24px;
      }
    }
    .content {
      margin-top: 1.5rem;

      .left_side {
        width: 100%;

        .main_img {
          width: 142px;
          height: 190px;
          border-radius: 20px;
        }
      }
      .right_side {
        width: 100%;
        min-width: 100%;
        margin-top: 1rem;
        .card {
          padding: 20px 30px 30px;
          height: min-content;
          .name {
            font-size: 24px;
          }
          .bio {
            font-size: 16px;
            margin-top: 1rem;
            p {
              margin-top: 1rem;
            }
          }
          .more_info {
            font-size: 16px;
            .button {
              display: flex;
              align-items: flex-end;
              gap: 10px;
              span {
                margin-top: 0;
                align-self: center;
              }
              .more_info_arrow {
                position: relative;
                width: 20px;
                height: 15px;
              }
            }
          }
        }
      }
    }
  }
}
