@import '/styles/variables.scss';

.container {
  padding: 20px 30px;
  .text {
    // color: white;
    color: black;
    font-size: 26px;
  }
  .button {
    font-size: 22px;
    background-color: $yellow;
    padding: 3px 20px;
    border-radius: 20px;
    padding-bottom: 5px;
    font-weight: 600;
    margin-top: 20px;
  }
}

//toast custom styling
.toast_container {
  top: 5rem !important;
  min-width: 550px;
}
.toast_wrapper {
  border-radius: 20px !important;
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 10px;
    .text {
      font-size: 18px;
    }
    .button {
      font-size: 16px;
    }
  }

  //toast custom styling
  .toast_container {
    top: 4rem !important;
    min-width: 250px;
  }
  .toast_wrapper {
    border-radius: 20px !important;
    width: 90% !important;
    margin: 1rem auto 0 !important;
  }
}
