@import '/styles/variables.scss';

.container {
  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  ol {
    list-style-position: inside;
  }

  .bill_images {
    display: flex;
    justify-content: space-between;

    .relative_img {
      position: relative;

      .img {
        border-radius: 30px;
        overflow: hidden;
      }

      .arrow {
        position: absolute;
        top: -60px;
        left: 30px;
        transform: rotate(20deg);
      }
    }
    .img {
      border-radius: 30px;
      overflow: hidden;
    }
  }
}
.img {
  border-radius: 20px;
  overflow: hidden;
}

.img_container {
  margin-top: 1rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: min-content;
  justify-content: space-around;
  .img {
    border-radius: 20px;
    overflow: hidden;
    width: max-content;
    margin-bottom: -3px;
    margin-right: 1rem;
  }
}

.opros {
  position: relative;
  width: 800px;
  height: 200px;
}

.scheme_large_image {
  position: relative;
  width: 850px;
  height: 500px;
}
.small_image {
  position: relative;
  width: 850px;
  height: 200px;
}

@media only screen and (max-width: 500px) {
  .opros {
    position: relative;
    width: 340px;
    height: 100px;
  }
  .scheme_large_image {
    position: relative;
    width: 350px;
    height: 250px;
  }
  .small_image {
    position: relative;
    width: 350px;
    height: 100px;
  }
}
