@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200&display=swap');
@import '/styles/variables.scss';

.menu_icon {
  display: none;
}

.navbar_fixed {
  box-shadow: rgba(0, 0, 0, 0.133) 0px 2px 8px;
  //   padding: 1.5rem 0 1.5rem 0;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 2;
  display: flex;
  align-items: center;
  .navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .logo {
      cursor: pointer;
      position: relative;
      letter-spacing: 2px;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 50px;
      background: transparent;
      width: 189px;
      padding-left: 10px;

      span {
        line-height: 23px;
        display: inline-block;
        margin-bottom: 18px;
      }

      .logo_img {
        z-index: -1;
      }
    }

    button {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 20px;
      color: #919191;
      &:hover {
        color: black;
      }
    }

    .links {
      display: flex;
      list-style: none;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      justify-content: flex-end;
      margin-top: 0;
      color: #919191;
      align-items: center;
      li {
        margin-left: 30px;
        font-size: 15px;
        line-height: 20px;
        &:hover {
          color: black;
        }
      }
    }
  }
}
.navbar_fixed li {
  margin-top: 0;
  line-height: 24px;
}

@media only screen and (max-width: 500px) {
  .navbar_fixed {
    height: 50px;
    .navbar {
      align-items: center;
      .logo {
        width: 179px;
        padding-left: 15px;

        span {
          margin-bottom: 20px;
          font-size: 17px;
        }

        .logo_img {
          z-index: -1;
        }
      }
      .menu_icon {
        display: block;
        width: 22px;
        height: 22px;
        position: relative;
      }
      .links {
        display: none;
      }
    }
  }
  .container {
    display: none;
  }
}
