@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200&display=swap');
@import '/styles/variables.scss';

.container {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 100%;

    .messages {
        overflow-y: scroll;
        height: 80%;
        width: 100%;
        overflow-x: hidden;
        margin-bottom: 2rem;
    }

}