@import "/styles/variables.scss";

.container {
  min-height: min-content;
  max-height: calc(100vh - 10rem);
  width: 80%;
  margin: 0 auto;
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;

  .left_side {
    width: 34%;
    color: white;
    padding: 20px 40px;
    border-radius: 20px;
    height: 750px;
    background-color: $black_background;

    padding-bottom: 2rem;
    overflow-y: hidden;

    .posts_title {
      font-size: 34px;
      margin-top: 1rem;
      font-weight: 600;
    }

    .all_posts {
      margin-top: 2rem;
      height: 76%;
      overflow-y: scroll;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
      .post {
        border-bottom: 1px solid rgba(255, 255, 255, 0.516);
        // margin-bottom: 2.5rem;
        padding-bottom: 1rem;
        padding-top: 2.5rem;
        opacity: 60%;

        cursor: pointer;
        .title {
          font-size: 24px;
        }

        .date {
          margin-top: 0.5rem;
        }
        &:first-child {
          padding-top: 0;
        }
      }

      .active_post {
        opacity: 100%;
        font-weight: 600;
      }
    }

    .arrow {
      transform: rotate(90deg);
      filter: $filter_to_white;
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 2rem;
      opacity: 80%;
    }
  }
  .right_side {
    width: 63%;

    .post_title {
      @include accentedButton;
      font-size: 28px;
    }

    .post_date_container {
      margin-top: 1rem;
      //   @include accentedButton;
      font-size: 18px;
      display: block;
      width: min-content;
      //   background-color: $black_background;
      //   color: white;
      //   border-radius: 15px;
      padding-left: 10px;

      .post_date {
        opacity: 80%;
      }
    }
    .post_content {
      height: 640px;
      overflow-y: auto;
      padding: 0 2rem 5rem 0;
      font-size: 20px;
      margin-top: 1rem;
    }
  }
}
