$orange: #f8bf2d;
$light-blue: #2d767a;
$dark-blue: #00666d;
$red: #d74c4c;
$text: #454545;
$backMain: #f9f9f9;

.modal {
  // display: flex;
  // flex-direction: column;
  // width: 50%;

  backdrop-filter: blur(5px);
  transition: all 1s ease;
}

.modal_content {
}

.button {
  border: 3px solid $orange;
  padding: 4px 14px;
  color: $text;
  background-color: transparent;
  align-self: center;
  font-size: 22px;
  transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 150ms;
  &:hover {
    background-color: $orange;
    transform: scale(1.1);
    color: white;
  }
}

.title {
  color: $dark-blue;
}
.text {
  color: $text;
}

//alert - too much time
.active {
  transform: scale(1.05);
  border: 8px solid #f8bf2d;
}
