@import '/styles/variables.scss';

.container {
  min-height: calc(100vh - 60px);

  .title {
    font-size: 34px;
    font-weight: 600;
    .accent {
      @include accentedButton;
      font-size: 34px;
    }
  }
}
.team {
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  margin-top: 3rem;
  .teamMember {
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    height: 600px;
    &:nth-child(2) {
      width: 280px;
    }
    .image {
      width: 100%;
      overflow: hidden;
      .image_dad {
        width: 250px;
        height: 340px;
        position: relative;
      }
      .image_starik {
        width: 280px;
        height: 340px;
        position: relative;
      }
    }
    .text {
      padding: 10px 20px;
      background-color: $black_background;
      margin-top: -5px;
      color: white;
      height: 100%;
      .name {
        font-size: 24px;
      }
      .position {
        margin-top: 5px;
        font-size: 18px;
        opacity: 70%;
      }
      .description {
        margin-top: 10px;
        font-size: 18px;
      }
    }
  }
}

// !сделать разные размеры фоток и высоту тим мембера для разных телефонов
@media screen and (max-width: 500px) {
  .container {
    margin-top: 3rem;
    min-height: min-content;
    .title {
      font-size: 26px;
      text-align: center;
      .accent {
        font-size: inherit;
      }
    }

    .team {
      gap: 10px;
      justify-content: space-between;
      .teamMember {
        width: 50%;
        min-height: 600px;
        height: 600px;

        .image {
          width: 100%;
          height: 45%;
          .image_dad {
            width: 100%;
            height: 100%;
            position: relative;
          }
          .image_starik {
            width: 100%;
            height: 100%;
            position: relative;
          }
        }
        .text {
          padding: 20px 15px;
          .name {
            font-size: 20px;
          }
          .position {
            font-size: 14px;
          }
          .description {
            font-size: 16px;
          }
        }
      }
    }
  }
}
