/* @import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200&display=swap"); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
  scroll-padding-top: 100px;
}

* {
  font-family: 'Exo 2', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li,
p {
  margin-top: 2rem;
  line-height: 26px;
}
p {
  text-align: justify;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}
ul,
ol {
  list-style-position: inside;
  margin-top: 1rem;
  line-height: 26px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  padding: 0 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dadada;
}

::selection {
  background: rgba(255, 221, 45, 0.32);
}

::-moz-selection {
  background: rgba(255, 221, 45, 0.32);
}

@media screen and (min-resolution: 120dpi) {
  :root {
    zoom: 0.8;
  }
}
