@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200&display=swap");

$orange: #f8bf2d;
$light-blue: #2d767a;
$dark-blue: #00666d;
$red: #d74c4c;
$backMain: #f9f9f9;
$text: #454545;

.all {
  //   display: grid;
  //   grid-template-rows: min-content auto;
  background-color: $backMain;
  z-index: 10;
}

.allMobile {
  display: grid;
  grid-template-rows: 0 30% auto 20%;
  height: 100vh;
  width: 100vw;
}

.myContainer {
  //   width: 90%;
  margin: 0 auto;
  //   position: relative;
}

.blueSquare {
  //   position: absolute;
  //   position: static;
  height: 85%;
  width: 40%;
  background-color: $light-blue;
  z-index: -10;
  @media (max-width: 640px) {
    background-color: transparent;
    width: 100%;
  }
}

.blueRect {
  //   height: 50%;
  background-color: $dark-blue;
  padding: 20px 40px 30px;
}

.redLine {
  //   position: absolute;
  //   width: 100%;
  //   height: 110px;
  //   left: 0;
  z-index: 20;
  background-color: $red;
  top: 65%;
}
.redLineMobile {
  background-color: #d74c4c;
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 30%;
  height: 40%;
}

.menImageMobile {
  width: 370px;
  height: 240px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 30;
}

//nav
.navWrapper {
  width: 60%;
  margin: 0 auto;
  color: #28515f;
  li:hover {
    color: $red;
  }
  button {
    font-weight: 600;
  }
}

//home
.titleContainer {
  //   position: absolute;
  background-color: $orange;
  //   height: 30%;
  padding: 25px 50px 10px 30px;
  text-align: right;
  .title {
    font-size: 32px;
    color: #454545;
    margin: 0 0 15px auto;
    line-height: 2.5rem;
    max-width: 250px;
  }
  .subtitle {
    font-size: 20px;
    color: #6f6f6f;
    margin: 0 0 15px auto;
  }
}
.eventsContainer {
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   padding: 4rem 40px 0 0;
  .eventsTitle {
    font-size: 16px;
    color: #e2e2e2;
    margin-bottom: 10px;
  }
  .eventsSubtitle {
    color: white;
    font-size: 26px;
    line-height: 35px;
    margin-top: 10px;
    width: 170px;
  }
}
.writeButton {
  border: 3px solid $orange;
  padding: 4px 8px;
  background-color: transparent;
  transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 150ms;
  &:hover {
    background-color: $orange;
    transform: scale(1.1);
    color: white;
  }
}

//footer
.footer {
  height: 250px;
  background-color: $dark-blue;
  color: #e6e6e6;
  display: flex;
  align-items: flex-end;
  padding-bottom: 2rem;
  width: 100vw;
  //   padding: 0 1rem;

  .wrapper {
    width: 90%;
    margin: 0 auto;
    // padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .link {
      width: fit-content;
      &:hover {
        color: $orange;
      }
    }
    // .mistake {
    //   margin-left: 5rem;
    //   display: flex;
    //   align-items: flex-end;
    // }
    .center {
      //   width: fit-content;
      display: grid;
      justify-content: center;
      align-items: flex-end;
    }

    .rights {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
