$yellow: #ffdf2d;
$grey_background: #e6e6dd;
$black_background: #2c2c2c;
$filter_to_white: invert(100%) sepia(100%) saturate(0%) hue-rotate(153deg);

@mixin accentedButton {
  background-color: $yellow;
  border-radius: 20px;
  padding: 6px 20px;
  color: black;
  padding-bottom: 8px;
  //   font-size: 20px;
  font-size: clamp(1rem, 8.5vw, 1.2rem);
  padding: 0.35em 1em 0.5em;
  font-weight: 600;
  display: inline-block;
}
