@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200&display=swap');
@import '/styles/variables.scss';

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 7rem;
  min-height: calc(100vh - 60px);
  .titleContainer {
    padding: 25px 50px 10px 30px;
    text-align: center;
    margin-bottom: 3rem;
    .title {
      font-size: 44px;
      font-weight: 600;
      margin: 0 auto;
      line-height: 3rem;
    }
    .subtitle {
      font-size: 32px;
      color: #212121;
      margin: 15px 0 15px auto;
    }
  }
}
.content {
  display: flex;
  justify-content: space-between;
  .left_side {
    width: 50%;
    margin-top: 4rem;

    .events_title {
      font-size: 28px;
      margin-bottom: 10px;
      font-weight: 600;
      span {
        background-color: $yellow;
        padding: 2px 10px;
        border-radius: 20px;
        padding-bottom: 10px;
      }
    }
    .events_subtitle {
      position: relative;
      font-size: 26px;
      line-height: 35px;
      margin-top: 50px;
      padding: 20px 50px;
      padding-bottom: 30px;
      width: 320px;
      color: white;
      background-color: $black_background;
      border-radius: 20px;
      display: flex;
      cursor: pointer;
      transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 150ms;
      &:hover {
        transform: scale(1.05);
      }
      .new_event {
        position: absolute;
        top: -20px;
        right: -20px;
        width: 50px;
        height: 50px;
        background-color: $yellow;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: 600;
      }

      .new_event_text {
        width: 90%;
      }
      .new_event_icon {
        filter: $filter_to_white;
        display: flex;
      }
    }
    .write_to_us_btn {
      font-size: 18px;
      margin-top: 4rem;
      position: relative;
      p {
        margin-left: 5px;
      }
      .write_button {
        padding: 4px 20px;
        // background-color: $yellow;
        background-color: $grey_background;
        font-size: 22px;
        font-weight: 600;
        border-radius: 20px;
        padding-bottom: 10px;
        margin-top: 1rem;
        display: flex;
        align-items: center;

        span {
          margin-right: 12px;
        }

        transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 150ms;
        &:hover {
          transform: scale(1.1);
        }

        .write_image {
          position: relative;
          width: 30px;
          height: 17px;
          margin-top: 5px;
        }
      }
    }
  }
  .right_side {
    width: 50%;
    .men_img_container {
      position: relative;
      width: 800px;
      height: 600px;

      .img {
        z-index: 5;
      }

      .down_circle {
        position: relative;
        z-index: -1;
        width: 800px;
        height: 100px;
        margin-top: -5rem;
      }
      .back_circle {
        position: relative;
        z-index: -1;
        width: 800px;
        height: 500px;
      }
    }
  }
}

@media (max-width: 1400px) {
  .container {
    .right_side {
      width: 60%;
      .men_img_container {
        position: relative;
        width: 600px;
        height: 600px;

        .img {
          z-index: 5;
        }

        .down_circle {
          position: relative;
          z-index: -1;
          width: 600px;
          height: 100px;
          margin-top: -2rem;
        }
        .back_circle {
          position: relative;
          z-index: -1;
          width: 600px;
          height: 400px;
        }
      }
    }
  }
}

//Mobile
@media screen and (max-width: 500px) {
  .container {
    margin-top: 5rem;
    width: 90%;
    // min-height: min-content;
    min-height: calc(100vh - 130px);
    .titleContainer {
      padding: 0;
      .title {
        font-size: 28px;
        line-height: 34px;
      }
      .subtitle {
        font-size: 20px;
      }
    }
    .content {
      width: 100%;
      display: block;
      .left_side {
        width: 100%;
        margin: 5rem 0 0;

        .events_title {
          display: none;
        }
        .events_subtitle {
          margin: 2rem 0 0;
          font-size: 22px;
          padding: 20px 30px 25px;
          width: 100%;
          .new_event {
            width: 40px;
            height: 40px;
            right: -10px;
          }
          .new_event_icon {
            margin-left: 10px;
          }

          &:hover {
            transform: none;
          }
        }
        .write_to_us_btn {
          margin-top: 2rem;
          font-size: 17px;
          width: 100%;
          p {
            // text-align: center;
          }
          .write_button {
            font-size: 18px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            padding: 7px 0 12px;
            margin-top: 7px;

            &:hover {
              transform: none;
            }
            .write_image {
              position: relative;
              width: 20px;
              height: 13px;
              margin-top: 5px;
            }
          }
        }
      }
      .right_side {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        // width: 100%;
        .men_img_container {
          position: relative;
          width: 350px;
          height: 230px;

          .img {
            z-index: 5;
          }

          .down_circle {
            position: relative;
            z-index: -1;
            width: 350px;
            height: 100px;
            margin-top: -5rem;
          }
          .back_circle {
            position: relative;
            z-index: -1;
            width: 350px;
            height: 230px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .container {
    .titleContainer {
      .title {
        font-size: 24px;
        line-height: 24px;
      }
      .subtitle {
        font-size: 20px;
      }
    }
    .content {
      .left_side {
        margin: 3rem 0 0;

        .events_subtitle {
          margin: 2rem 0 0;
          font-size: 18px;
          line-height: 20px;
          .new_event {
            width: 35px;
            height: 35px;
            top: -20px;
            right: -10px;
          }
          .new_event_icon {
            margin-left: 10px;
          }
        }
        .write_to_us_btn {
          font-size: 15px;

          .write_button {
            font-size: 16px;
            margin-top: 0.5rem;
            .write_image {
              width: 15px;
              height: 10px;
            }
          }
        }
      }
      .right_side {
        margin-top: 1rem;
        .men_img_container {
          position: relative;
          width: 250px;
          height: 200px;

          .img {
            z-index: 5;
          }

          .down_circle {
            position: relative;
            z-index: -1;
            width: 250px;
            height: 100px;
            margin-top: -4.2rem;
          }
          .back_circle {
            position: relative;
            z-index: -1;
            width: 250px;
            height: 170px;
          }
        }
      }
    }
  }
}
